.img-solved-cnt {
    width: 50%;
    margin: auto;
}

.img-solved {
    width: 100%;
}

.card {
  width: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: auto;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 2s;
  position: absolute;
  width: 100%;
  top: -10px;
  z-index: -1;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.title {
  width: 100%;
  transition: transform 1s;
  top: 80px;
  position: absolute;
  width: 75%;
  z-index: 10;
}

.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  top: -50px;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}

#puzzle {
  /* background opacity 90% */
  /* background: rgba(0, 0, 0, 0.9); */
  background: url(/images/dark_rough_sandlike_pattern.png) no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.gallery {
  width: 1170px;
  height: 250px;
  background-color: rgba(34, 34, 34, 0.9);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.puzzle-ui {
  margin: -750px 0 0 20;
  height: 200px;
  z-index: 10000;
}

.close-btn {
  display: block;
  background: url(../images/icons8-close-67.png) no-repeat;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
  margin: -40 0 0 -40;
}

.button-prize {
  display: block;
  width: 100px;
  height: 100px;
  margin: -55px 0 0 40px;
  background: url(../images/hellish-gift-icon.png) no-repeat;
  border: none;
  background-repeat: no-repeat;
  background-position: left top; 
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both;
  cursor: pointer;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease-in-out
}

@keyframes bounce {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-20px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}